<!DOCTYPE html>
<html>
  <head>

    <title> <%= title %> Student Grade Table (Thi's Tutelage)</title>
		<meta charset="utf-8"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


	<% if(darkMode == 1){ %>
		<body class="darkMode" id="body-content">
	  <% } else{ %>  
		<body  id="body-content">
	 <% } %>

		<header>
			<!-- TODO: Implement a toggle between Light/Dark Mode  -->
			<div id="header-setting">
				<!-- <button onclick=""id="darkModeToggle" class="header-button-select" value="">Toggle Dark Mode</button> -->
				<a href="/?darkMode=<%= darkMode * -1 %>">Toggle Dark Mode</a> 
			</div>
		</header>
		<main>
			<h1>Student Grades (<%= title %>) </h1>
			<table id="table-grades">
				<!-- Table Header -->
				<thead>
					<tr>
						<th id="sortTableByName">
							<a href="/?sortType=name&sortDir=<%= sortDir %>">Name</a> 
							<span id="nameSortStateCaret">*</span>
							</th>
						</a>
						<th id="sortTableByGrade">
							<a href="/?sortType=grade&sortDir=<%= sortDir %>">Grade</a> 
							<span id="gradeSortStateCaret">*</span>
						</th>
						<th>Options</th>
					</tr>
				</thead>
				<!-- (Sample) Table Content -->
				<tbody>
          <% for (var i = 0; i < students.length; i++) { %>
            <tr>
              <td><%= students[i].name %></td>
              <td><%= students[i].grade %></td>
              <td>
				  <div class="on-hover-show">
					<button>
						<span>Menu</span>
					  </button>
					  <div class="dropdown-content">
						<a href="/edit/<%= students[i]._id %>">Edit</a>
						<a href="/delete/<%= students[i]._id %>">Delete</a>
					</div>
				  </div>
				  </td>
            </tr>
            <% } %>
				</tbody>
				<tfoot>
					<tr>
						<td>
							<input form="studentSubmissionForm" name="name" type="text" placeholder="Name" required="true"/>
						</td>
						<td>
							<input form="studentSubmissionForm" name="grade" id="input-grade" type="number" min="0" max="100" placeholder="0" required="true"/>
						</td>
						<td>
							<button form="studentSubmissionForm" type="submit">Add Student</button>
						</td>
					</tr>
					
				</tfoot>

				<form id="studentSubmissionForm" method="POST" action="/"></form>

			</table>
		</main>
    <footer></footer>
	</body>

</html>
