<!DOCTYPE html>
<html>
  <head>

    <title> <%= title %> Student Grade Table (Thi's Tutelage)</title>
		<meta charset="utf-8"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


	<% if(darkMode == 1){ %>
		<body class="darkMode" id="body-content">
	  <% } else{ %>
		<body  id="body-content">
	 <% } %>

		<header>
			<div id="header-setting">
				<div class="header-button-select">
					<a href="/?<%= sortQuery %>">
						Toggle Dark Mode</a>
				</div>

			</div>
		</header>
		<main>
			<h1>Student Grades (<%= title %>) </h1>
			<table id="table-grades">
				<!-- Table Header -->
				<thead>
					<tr>
						<th id="sortTableByName"><a href="/?<%= handleSortQuery('name') %>">Name</a></th>
						<th id="sortTableByGrade"><a href="/?<%= handleSortQuery('grade') %>">Grade</a></th>
						<th>Options</th>
					</tr>
				</thead>
				<!-- (Sample) Table Content -->
				<tbody>
          <% for (var i = 0; i < students.length; i++) { %>
            <tr>
				<% if (students[i]._id == editableId) {%>
              <td>
				  <input form="studentEditForm" name="name" type="text" maxlength="12" value="<%= students[i].name %>" required="true"/>
				</td>
              <td>
				  <input form="studentEditForm" name="grade" type="number" min="0" max="100" value="<%= students[i].grade %>" required="true"/>
			  </td>
              <td>
					<div class="on-edit-show">
						<div class="is-editable">
							<button form="studentEditForm" type="submit">Save</button>
							<a href="/?<%= sortQuery %>">Cancel</a>
						</div>

					</div>
				</td>
				<form id="studentEditForm" method="POST" action="/save/<%= students[i]._id %>?<%= sortQuery %>"></form>
					<% } else{ %>
						<td><%= students[i].name %></td>
						<td><%= students[i].grade %></td>
						<td>
				  <div class="on-hover-show">
					<button>
						<span>Menu</span>
					  </button>
					  <div class="dropdown-content">
						<a href="/?editable=<%= students[i]._id %>&<%= sortQuery %>">Edit</a>
						<a href="/delete/<%= students[i]._id %>?<%= sortQuery %>">Delete</a>
					</div>
				  </div>

				  </td>
				  <% } %>
            </tr>
            <% } %>
				</tbody>
				<tfoot>
					<tr>
						<td>
							<input form="studentSubmissionForm" name="name" id="input-name" type="text" placeholder="Name" maxlength="12" required="true"/>
						</td>
						<td>
							<input form="studentSubmissionForm" name="grade" id="input-grade" type="number" min="0" max="100" placeholder="0" required="true"/>
						</td>
						<td>
							<button id="submit-new-student-btn" form="studentSubmissionForm" type="submit">Add Student</button>
						</td>
					</tr>

				</tfoot>

				<form id="studentSubmissionForm" method="POST" action="/?<%= sortQuery %>"></form>

			</table>
		</main>
    <footer></footer>
	</body>

</html>
